<a href="https://colab.research.google.com/github/FernandoGuillen-lab/DataScience/blob/main/Juntando_dataframes_con_especificaciones_dependiendo_la_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
#Crea cuatro DataFrames en pandas, cada uno para cargar el contenido de los diferentes archivos.


test=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Test.csv")
test

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,EID_22713,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,...,4.0,type2,1.0,3,-0.9612,-0.4537,2.0,1,8,4
1,EID_9658,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,...,1.0,type2,1.0,4,-0.9612,0.7075,1.0,2,8,2
2,EID_22203,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,...,8.0,type3,1.0,4,-0.1048,0.7075,2.0,1,9,3
3,EID_7652,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,...,2.0,type0,4.0,3,-0.1048,0.7075,2.0,2,8,3
4,EID_6516,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,...,2.0,type2,4.0,4,1.6081,0.7075,2.0,2,7,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,EID_22547,F,32.0,3,Single,Franklin,Sales,Directive,3.0,3,...,6.0,type2,2.0,1,-0.1048,0.7075,1.0,4,7,4
2996,EID_10066,F,NaN,2,Single,Franklin,Marketing,Conceptual,10.0,2,...,9.0,type2,1.0,3,0.7516,0.7075,3.0,4,8,3
2997,EID_7126,F,60.0,4,Single,Lebanon,Logistics,Analytical,35.0,1,...,9.0,type3,3.0,3,-1.8176,-0.4537,NaN,4,8,4
2998,EID_4929,F,51.0,1,Married,Springfield,IT,Behavioral,23.0,1,...,6.0,type3,1.0,5,0.7516,-0.4537,2.0,3,9,2
2999,EID_24750,F,45.0,1,Single,Franklin,Sales,Directive,12.0,4,...,8.0,type4,4.0,3,0.7516,-0.4537,2.0,2,8,5

In [ ]:
test2=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Test2.csv")
test2

,Employee_ID,Computer_OS,Computer_OS_version,Computer_tickets,Mobile_OS,Mobile_OS_version,Mobile_tickets
0,EID_19108,Windows,10,2,Android,8.0,0
1,EID_13997,Windows,10,12,Android,10.0,1
2,EID_10789,MacOS,Catalina,0,iOS,12.0,0
3,EID_1833,Windows,10,9,Android,7.0,0
4,EID_8825,Windows,8,3,Android,9.0,2
...,...,...,...,...,...,...,...
2995,EID_20453,Windows,10,4,Android,7.0,2
2996,EID_18205,Windows,8,8,Android,9.0,5
2997,EID_19849,Windows,10,1,Android,8.0,2
2998,EID_24566,Windows,8,6,iOS,13.0,2
2999,EID_4330,Windows,7,2,Android,7.0,0

In [ ]:
train=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Train.csv")
train

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,...,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,...,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,...,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,...,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,...,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,EID_16328,F,23.0,5,Married,Franklin,Operarions,Behavioral,4.0,1,...,type3,3.0,1,0.7516,-0.4537,2.0,3,7,3,0.7839
6996,EID_8387,F,44.0,1,Married,Lebanon,R&D,Analytical,16.0,2,...,type3,3.0,2,-0.1048,-2.7762,2.0,4,8,4,0.1055
6997,EID_8077,F,49.0,3,Single,Springfield,IT,Directive,10.0,1,...,type2,4.0,2,-0.1048,-0.4537,2.0,4,8,3,0.7847
6998,EID_19597,F,47.0,3,Married,Washington,Sales,Behavioral,24.0,1,...,type0,2.0,4,0.7516,1.8688,2.0,3,6,3,0.4162
6999,EID_1640,F,58.0,3,Married,Franklin,IT,Directive,22.0,2,...,type2,3.0,3,-0.1048,-1.6150,3.0,4,5,3,0.0910

In [ ]:
train2=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Train2.csv")
train2

,Employee_ID,Computer_OS,Computer_OS_version,Computer_tickets,Mobile_OS,Mobile_OS_version,Mobile_tickets
0,EID_18343,Windows,8,1,Android,9.0,0
1,EID_4861,Windows,7,2,Android,8.0,0
2,EID_16936,Windows,10,3,Android,10.0,0
3,EID_16384,Windows,10,1,Android,7.0,1
4,EID_10666,Windows,7,7,Android,10.0,4
...,...,...,...,...,...,...,...
6995,EID_13181,MacOS,NaN,2,NaN,NaN,1
6996,EID_8678,MacOS,High Sierra,1,iOS,13.0,0
6997,EID_17721,MacOS,Catalina,0,Android,8.0,0
6998,EID_21989,Windows,10,1,Android,10.0,0
6999,EID_7029,Windows,8,1,Android,9.0,0

In [ ]:
#Conjunta de manera correcta la información, de tal forma que queden todos los registros juntos en un solo DataFrame que contenga todas las columnas necesarias.

df=pd.merge(test,test2,on=["Employee_ID"],how="outer")

df

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,VAR4,VAR5,VAR6,VAR7,Computer_OS,Computer_OS_version,Computer_tickets,Mobile_OS,Mobile_OS_version,Mobile_tickets
0,EID_22713,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,...,2.0,1,8,4,MacOS,Mojave,0,iOS,12.0,0
1,EID_9658,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,...,1.0,2,8,2,Windows,10,9,Android,10.0,3
2,EID_22203,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,...,2.0,1,9,3,Windows,10,0,Android,10.0,0
3,EID_7652,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,...,2.0,2,8,3,Windows,7,0,iOS,13.0,0
4,EID_6516,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,...,2.0,2,7,4,Windows,10,5,Android,10.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,EID_22547,F,32.0,3,Single,Franklin,Sales,Directive,3.0,3,...,1.0,4,7,4,Windows,8,4,Android,9.0,1
2996,EID_10066,F,NaN,2,Single,Franklin,Marketing,Conceptual,10.0,2,...,3.0,4,8,3,MacOS,Mojave,2,Android,8.0,1
2997,EID_7126,F,60.0,4,Single,Lebanon,Logistics,Analytical,35.0,1,...,NaN,4,8,4,Windows,10,0,Android,7.0,0
2998,EID_4929,F,51.0,1,Married,Springfield,IT,Behavioral,23.0,1,...,2.0,3,9,2,Windows,10,6,Android,7.0,1
2999,EID_24750,F,45.0,1,Single,Franklin,Sales,Directive,12.0,4,...,2.0,2,8,5,Windows,8,4,Android,10.0,5

In [ ]:
df1=pd.merge(train,train2,on=["Employee_ID"],how="outer")

df1

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,VAR5,VAR6,VAR7,Attrition_rate,Computer_OS,Computer_OS_version,Computer_tickets,Mobile_OS,Mobile_OS_version,Mobile_tickets
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,...,4,5,3,0.1841,Windows,8,1,Android,7.0,0
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,...,3,5,3,0.0670,MacOS,Mojave,1,iOS,13.0,1
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,...,3,8,3,0.0851,Windows,8,1,Android,7.0,0
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,...,3,7,3,0.0668,Windows,7,1,Android,8.0,0
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,...,2,8,2,0.1827,Windows,10,9,Android,8.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,EID_16328,F,23.0,5,Married,Franklin,Operarions,Behavioral,4.0,1,...,3,7,3,0.7839,MacOS,Catalina,0,iOS,13.0,0
6996,EID_8387,F,44.0,1,Married,Lebanon,R&D,Analytical,16.0,2,...,4,8,4,0.1055,Windows,10,4,Android,7.0,3
6997,EID_8077,F,49.0,3,Single,Springfield,IT,Directive,10.0,1,...,4,8,3,0.7847,NaN,NaN,3,iOS,13.0,2
6998,EID_19597,F,47.0,3,Married,Washington,Sales,Behavioral,24.0,1,...,3,6,3,0.4162,Windows,10,3,iOS,11.0,0
6999,EID_1640,F,58.0,3,Married,Franklin,IT,Directive,22.0,2,...,4,5,3,0.0910,MacOS,Mojave,1,iOS,12.0,0

In [ ]:
df2=pd.concat([df,df1], axis=0,ignore_index=True)

df2

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,VAR5,VAR6,VAR7,Computer_OS,Computer_OS_version,Computer_tickets,Mobile_OS,Mobile_OS_version,Mobile_tickets,Attrition_rate
0,EID_22713,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,...,1,8,4,MacOS,Mojave,0,iOS,12.0,0,NaN
1,EID_9658,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,...,2,8,2,Windows,10,9,Android,10.0,3,NaN
2,EID_22203,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,...,1,9,3,Windows,10,0,Android,10.0,0,NaN
3,EID_7652,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,...,2,8,3,Windows,7,0,iOS,13.0,0,NaN
4,EID_6516,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,...,2,7,4,Windows,10,5,Android,10.0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,EID_16328,F,23.0,5,Married,Franklin,Operarions,Behavioral,4.0,1,...,3,7,3,MacOS,Catalina,0,iOS,13.0,0,0.7839
9996,EID_8387,F,44.0,1,Married,Lebanon,R&D,Analytical,16.0,2,...,4,8,4,Windows,10,4,Android,7.0,3,0.1055
9997,EID_8077,F,49.0,3,Single,Springfield,IT,Directive,10.0,1,...,4,8,3,NaN,NaN,3,iOS,13.0,2,0.7847
9998,EID_19597,F,47.0,3,Married,Washington,Sales,Behavioral,24.0,1,...,3,6,3,Windows,10,3,iOS,11.0,0,0.4162
9999,EID_1640,F,58.0,3,Married,Franklin,IT,Directive,22.0,2,...,4,5,3,MacOS,Mojave,1,iOS,12.0,0,0.0910

In [ ]:
#Para todos los registros que no tienen un valor para un sistema operativo, ya sea de su computadora o de su dispositivo móvil, asignar el valor “no registrado"

copia=df2.copy()
copia[" Computer_OS"].fillna("no registrado",inplace=True)
copia[" Mobile_OS"].fillna("no registrado",inplace=True)

copia

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,VAR5,VAR6,VAR7,Computer_OS,Computer_OS_version,Computer_tickets,Mobile_OS,Mobile_OS_version,Mobile_tickets,Attrition_rate
0,EID_22713,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,...,1,8,4,MacOS,Mojave,0,iOS,12.0,0,NaN
1,EID_9658,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,...,2,8,2,Windows,10,9,Android,10.0,3,NaN
2,EID_22203,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,...,1,9,3,Windows,10,0,Android,10.0,0,NaN
3,EID_7652,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,...,2,8,3,Windows,7,0,iOS,13.0,0,NaN
4,EID_6516,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,...,2,7,4,Windows,10,5,Android,10.0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,EID_16328,F,23.0,5,Married,Franklin,Operarions,Behavioral,4.0,1,...,3,7,3,MacOS,Catalina,0,iOS,13.0,0,0.7839
9996,EID_8387,F,44.0,1,Married,Lebanon,R&D,Analytical,16.0,2,...,4,8,4,Windows,10,4,Android,7.0,3,0.1055
9997,EID_8077,F,49.0,3,Single,Springfield,IT,Directive,10.0,1,...,4,8,3,no registrado,NaN,3,iOS,13.0,2,0.7847
9998,EID_19597,F,47.0,3,Married,Washington,Sales,Behavioral,24.0,1,...,3,6,3,Windows,10,3,iOS,11.0,0,0.4162
9999,EID_1640,F,58.0,3,Married,Franklin,IT,Directive,22.0,2,...,4,5,3,MacOS,Mojave,1,iOS,12.0,0,0.0910

In [ ]:
#El porcentaje de personas que usan Windows / Mac / Linux / no registrado como su sistema operativo en su computadora.

porc1=copia[" Computer_OS"].value_counts(normalize=True)*100

porc1

Windows          77.28
MacOS            16.34
Linux             4.80
no registrado     1.58
Name:  Computer_OS, dtype: float64

In [ ]:
#El porcentaje de personas que usan iOS / Android / No registrado como su sistema operativo en su dispositivo móvil.

porc2=copia[" Mobile_OS"].value_counts(normalize=True)*100

porc2

Android          76.59
iOS              20.54
no registrado     2.87
Name:  Mobile_OS, dtype: float64

In [ ]:
#La edad promedio de la gente que utiliza cada sistema operativo de escritorio.

prom1=copia.groupby(" Computer_OS")["Age"].mean()

prom1

 Computer_OS
Linux            40.451902
MacOS            40.396251
Windows          39.457441
no registrado    40.523490
Name: Age, dtype: float64

In [ ]:
#El nivel educativo promedio de la gente que utiliza cada sistema operativo de escritorio.

prom2=copia.groupby(" Computer_OS")["Education_Level"].mean()

prom2

 Computer_OS
Linux            3.243750
MacOS            3.168299
Windows          3.203675
no registrado    3.177215
Name: Education_Level, dtype: float64

In [ ]:
#El número total de tickets generados por la gente con cada sistema operativo de escritorio.

tic=copia.groupby(" Computer_OS")[" Computer_tickets"].sum()

tic

 Computer_OS
Linux              254
MacOS             1880
Windows          21169
no registrado      541
Name:  Computer_tickets, dtype: int64

In [ ]:
#. Envía el resultado de cada solicitud de información a un archivo XLS[X], donde el resultado de cada consulta debe ir en su propia hoja de trabajo.

porc1ex=pd.DataFrame(porc1)
porc2ex=pd.DataFrame(porc2)
prom1ex=pd.DataFrame(prom1)
prom2ex=pd.DataFrame(prom2)
ticex=pd.DataFrame(tic)

with pd.ExcelWriter("resultados.xlsx") as writer:
  porc1ex.to_excel(writer,sheet_name="porc1")
  porc2ex.to_excel(writer,sheet_name="porc2")
  prom1ex.to_excel(writer,sheet_name="prom1")
  prom2ex.to_excel(writer,sheet_name="prom2")
  ticex.to_excel(writer,sheet_name="tic")